* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}


html {
    scroll-behavior: smooth;
}

/* Home Page */

section {
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/bg-ICT.png);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
    opacity: 70%;
}

nav .logo {
    position: relative;
    font-size: 44px;
    letter-spacing: 10px;
    cursor: default;
}

nav ul {
    position: relative;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    margin-left: 35px;
    text-decoration: none;
    letter-spacing: 5px;
}

#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background: linear-gradient(315deg, #dfb89a 0%, #be998f 74%);
    width: 0%;
    height: 100%;
    opacity: 1;
}

.load-container {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

/* Landing Page */

/* Topic showcase frame */

.container {
    position: relative;
    width: 1305px;
    height: 270px;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 240px auto;
}

/* Topic cards */

.container .card {
    position: relative;
    width: calc(192px - 5px);
    height: calc(260px - 20px);
    background: #F3F3F3;
    float: left;
    margin: 15px;
    border-radius: 24px;
    box-shadow: 15px 19px 27px 4px rgba(0, 0, 0, 0.25), 
    inset -4px -4px 6px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease;
    cursor: pointer;
    animation: transitionIn 0.75s;
    justify-content: center;
    align-items: center;
}

/* Topic Cards Header */

.container .card p {
    position: relative;
    text-align: center;
    height: 60px;
    margin-left: 3px;
    font-size: 14px;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    line-height: 22px;
    margin-top: 20px;
    align-items: center;
}
/* Topic icons */

.container .card .icon {
    position: relative;
    height: 90px;
    width: 90px;
    margin-left: 48px;
    margin-top: 23px;
}

.container .card .info {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.7s all;
    align-items: center;
    justify-content: center;
}

.container .card .info p {
    position: relative;
    text-align: center;
    margin-left: 5px;
    margin-top: -200px;
    padding: 30px;
    letter-spacing: 1px;
    font-size: 10px;
    text-align: center;
}

/* Hover animation */

.container .card:hover {
    transform: scale(1.2);
}

.container .card::before {
    content: "";
    position: absolute;
    display: block;
    transition: 0.5s all;
    z-index: 2;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    box-shadow: 15px 19px 27px 4px rgba(0, 0, 0, 0.25), 
    inset -4px -4px 6px rgba(0, 0, 0, 0.25);
    background: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);    
}
.container .card:hover::before {
    opacity: 1;
}

.container .card:hover .info {
    opacity: 1;
}

/* End of Hover Animation */

/* End of Landing Page */

/* About Page */

/* Topics Page */

.topic-choice-nav {
    position: relative;
    width: 310px;
    height: 505px;
    margin-top: -30px;
    margin-bottom: 300px auto;
    /* background: beige; */
}

.topic-choice-nav .button {
    position: relative;
    width: calc(355px - 60px);
    height: calc(955px - 880px);
    float: left;
    margin: 7px;
    border-radius: 35px;
    box-shadow: 15px 19px 27px 4px rgba(0, 0, 0, 0.25), 
    inset -4px -4px 6px rgba(0, 0, 0, 0.25);
    background: white;
    cursor: pointer;
    transition: 0.5s ease;
    /* animation: transitionInDown 1s; */
}

.topic-choice-nav .button p {
    position: relative;
    height: 50px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

.topic-choice-nav .button a {
    text-decoration: none;
}

#active {
    background: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
}

#computer-crime-security {
    margin: 10px;
    text-decoration: none;
}

/* Button Hover Animation */

.topic-choice-nav .button:hover {
    background: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
}

/* End of Button Hover Animation */

/* Topic Containers */

.topic-frame{
    position: absolute;
    width: 1050px;
    height: 605px;
    left: 450px;
    top: 110px;
    margin-top: 50px auto;
    margin-bottom: 200px auto;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: scroll;
    /* background: beige; */
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 5px solid rgb(235, 235, 235);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
    border-radius: 10px;
}

.topic-frame .topic-container {
    position: relative;
    width: calc(355px - 45px);
    height: calc(955px - 775px);
    background: rgb(241, 241, 241);
    background-image: url();
    float: left; 
    margin: 10px;
    border-radius: 17px;
    transition: 0.5s ease;
    cursor: pointer;
    animation: transitionIn 1.3s;
}

.topic-container:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/*Subtopics */

.subtopic-container {
    position: absolute;
    top: 150px;
    left: 520px;
    width: 900px;
    height: 560px;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
}


.subtopic-frame h1 {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 220px;
    width: 490px;
    font-size: 30px;
    background-color: #F3F3F3;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209);
}

/* Subtopic scrollbar */

.subtopic-frame ::-webkit-scrollbar {
    width: 15px;
}

.subtopic-frame ::-webkit-scrollbar {
    width: 15px;
}

.subtopic-frame .subtopic-frame ::-webkit-scrollbar-track {
    border: 5px solid rgb(235, 235, 235);
    border-radius: 10px;
}

.subtopic-frame ::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
    border-radius: 10px;
}



/* Bulleted Information */



.subtopic-bullted-container {
    width: 500px;
    height: 300px;
    background-color: #F3F3F3;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209);

}

.subtopic-bulleted-info {
    width: 550px;
    height: 300px;
    position: absolute;
    text-align: left;
    top: 180px;
    left: 200px;
    column-count: 2;
    column-gap: 20px;
    column-width: 165px;
    font-size: 24px;
    list-style-position: inside;
    background: rgb(255, 255, 255);
    opacity:60%;
}

/* Paragraph Form Information */

.subtopic-paragraph {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 210px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #F3F3F3;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209);
    /* background-color: #F3F3F3;
    opacity: 60%; */
    /* border: 2px solid rgb(209, 209, 209); */
}

/* Ordered information */

.subtopic-ordered-container {
    width: 500px;
    height: 300px;
   ;
}

.subtopic-ordered-info {
    width: 550px;
    height: 300px;
    position: absolute;
    text-align: left;
    top: 160px;
    left: 220px;
    column-count: 2;
    column-gap: 20px;
    column-width: 130px;
    font-size: 20px;
    list-style-position: inside;
    color: black;
 
}

/* end of ordered Information */
/* Ordered information specified contents */

#input {
    position:absolute;
    left:170px;
    top: 7px;
    font-weight: bold;
}

#inputInfo {
    position:absolute;
    top: 50px;
    text-align: center;

}
}

#olContainer {
    position: absolute;
    left: 150px;
    top: 4px;
    list-style: none;
    font-size: 28x;
    font-weight: bold;
    background-color: #F3F3F3;
    opacity: 90%;
    border: 1px solid rgb(209, 209, 209)
}

#infoContainer {
    width: 550px;
    height: 350px;
    position: absolute;
    text-align: left;
    top: 40px;
    left: -30px;
    column-count: 2;
    column-gap: 20px;
    column-width: 165px;
    font-size: 20px;
    list-style-position: inside;
    list-style-type: disc;
    color: black;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209)
    
}

#inputList {
    Position: absolute;
    top:120px;
    left: 160px;
    list-style-type: circle;
}

#output {
    position:absolute;
    left:170px;
    top: 7px;
    font-weight: bold;
}

#outputContainer {
    width: 550px;
    height: 350px;
    position: absolute;
    text-align: left;
    top: 550px;
    left: 190px;
    column-count: 2;
    column-gap: 20px;
    column-width: 165px;
    font-size: 20px;
    list-style-position: inside;
    color: black;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    opacity:90%;
    border: 2px solid rgb(209, 209, 209)
}

#storageContainer {
    width: 550px;
    height: 350px;
    position: absolute;
    text-align: left;
    top: 900px;
    left: 190px;
    column-count: 2;
    column-gap: 20px;
    column-width: 165px;
    font-size: 20px;
    list-style-position: inside;
    color: black;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209)
}

#storage {
    position:absolute;
    left:170px;
    top: 7px;
    font-weight: bold;
}

#storageList {
    Position: absolute;
    top:150px;
    left: 160px;
}

#operating_system {
    position:absolute;
    left:120px;
    top: 7px;
    font-weight: bold;
}

#categories {
    position:absolute;
    left:100px;
    top: 7px;
    font-weight: bold;
}

#categoriesList {
    Position: absolute;
    top:60px;
    left: 130px;
    list-style-type: circle;
}

#application_software {
    position:absolute;
    left:150px;
    top: 7px;
    font-weight: bold;
}

#applicationList {
    Position: absolute;
    top: 120px;
    left: 120px;
    list-style-type:circle;
}

#professionalContainer {
    width: 550px;
    height: 350px;
    position: absolute;
    text-align: left;
    top: 150px;
    left: 320px;
    column-count: 2;
    column-gap: 20px;
    column-width: 165px;
    font-size: 20px;
    list-style-position: inside;
    list-style-type: disc;
    color: black;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209)
}

#intellectualContainer {
    width: 550px;
    height: 500px;
    position: absolute;
    text-align: left;
    top: 150px;
    left: 320px;
    column-count: 2;
    column-gap: 20px;
    column-width: 165px;
    font-size: 20px;
    list-style-position: inside;
    list-style-type: disc;
    color: black;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-size: 1000px, 350px;
    opacity: 90%;
    border: 2px solid rgb(209, 209, 209)
}

/*  End of Ordered information specified contents */
/* Backgrounds for The Topics */

.subtopic-frame img {
    width: 900px;
    height: 570px;
    border-radius: 15px;
    position:fixed;
    left: 506px;
    top: 150px;
    
  
}

.bg-image-topics {
    position: relative;
    width: 310px;
    height: 180px;
    border-radius: 17px;
}

/* End of Backgrounds for The Topics */
/* End of Topics Page */

/* Resources Page */

.resources-frame {
    position: absolute;
    width: 1000px;
    height: 410px;
    left: 270px;
    top: 210px;
    margin-top: 50px auto;
    margin-bottom: 200px auto;
    text-align: center;
}

.resources-frame .resources-container {
    position: relative;
    width: calc(355px - 45px);
    height: calc(955px - 775px);
    background: rgb(241, 241, 241);
    float: left; 
    margin: 10px;
    border-radius: 17px;
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 15px 19px 27px 4px rgba(0, 0, 0, 0.25);
    /* inset -4px -4px 6px rgba(0, 0, 0, 0.25); */
}

.resources-frame .resources-container p {
    position: absolute;
    text-align: left;
    left: 20px;
    top: 150px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 660;
}

/* Backgrounds for the resources container */

.bg-image-resources {
    position: relative;
    width: 310px;
    height: 145px;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

/* End of Resources Page */